
<div class="footcontainer">
    <footer>
      <!-- <div class="footbox">
          <ul class="listinfooter">
            <li>Home</li>
            <li>About us</li>
            <li>Contact us</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div> -->
        <div class="container text-center end">
          <div class="row">
            <div class="col">
             <ul class="list">
               <a href=""><li>Home</li><br></a>
               <a href=""><li>About us</li><br></a>
               <a href=""><li>Contact us</li><br></a>
               <a href=""><li>podcast</li><br></a>
               <a href=""><li>Blog</li><br></a>
              
             </ul>
            </div>
            <div class="col">
              <ul class="list">
                <a href="./aero.html"><li>Aerospace</li><br></a>
                <a href="./defence.html"><li>Defence</li><br></a>
                <a href="./industrial.html"><li>Industry</li><br></a>
                <a href="./health.html"><li>Healthcare</li><br></a>
                <a href="./locomotive.html"><li>Locomotive</li><br></a>
               
              </ul>
            </div>
            <div class="col">
              <ul class="list">
                <a href="./insurance.html"><li>Insurance</li><br></a>
                <a href="./banking.html"><li>Banking</li><br></a>
                <a href="./mobility.html"><li>Mobility</li><br></a>          
              </ul>
            </div>
            <div class="col">
              
            </div>
            <div class="col">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta exercitationem magnam praesentium saepe iure quibusdam fugit repellendus, architecto molestias eligendi quo doloremque esse minus nobis, dolore quos earum sapiente? Reiciendis!</p>
            </div>
          </div>
        </div>
    </footer>